div.gameContainer {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  background-color: white;
}

@media screen and (max-width: 500px) {
  div.gameContainer {
    width: 350px;
    height: 350px;
  }
}
