button.defaultBtn {
  width: 90%;
  max-width: 50vh;

  background-color: rgb(93, 185, 0);
  color: white;

  padding: 10px;

  font-size: 3vh;
  font-weight: bold;

  border-radius: 10px;
  border: none;

  outline: none;

  cursor: pointer;
  transition: 0.2s all;
}

button.defaultBtn:hover {
  transform: scale(1.1);
}
