p.pointsLabel {
  font-family: "Roboto", sans-serif;
  font-size: 4vh;

  color: white;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  z-index: 99;
}
